version: "3.9"

services:
  webapp:
    build: .
    ports:
      - "8000:8000"
    environment:
      VECTOR_DB: "qdrant"
      LLM_PROVIDER: "openai"
    volumes:
      - ./data:/app/data

    depends_on:
      - qdrant







  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage




volumes:

  qdrant_data:


