# -------------------------
# Core framework
# -------------------------
fastapi
uvicorn
jinja2
pydantic
pydantic-settings
python-dotenv
pyyaml

# -------------------------
# Data & utilities
# -------------------------
numpy
requests

# -------------------------
# LLMs & embeddings
# -------------------------
sentence-transformers
transformers
langchain
langchain-core
langchain-community
langchain-ollama
langchain-text-splitters
langchain-huggingface
langchain-qdrant
hf_xet

# -------------------------
# Vector DB
# -------------------------
qdrant-client

# -------------------------
# Retrieval
# -------------------------
rank-bm25

# -------------------------
# Document conversion
# -------------------------
python-docx
docling

# -------------------------
# UI
# -------------------------
streamlit
